<section class="intro">
    <h2 class="intro__title hidden">우리는 우리가 상상하는 것이 된다.</h2>
    <div class="intro__background intro__background--left"></div>
    <div class="intro__background intro__background--right"></div>
  </section>
    
  <section class="hero">
    <div class="hero__col hero__col--1">
      <h1>YeoChael</h1>
    </div>
    <div class="hreo__col hero__col--2">
      <img src="https://i.pinimg.com/236x/03/1c/19/031c191e283c14cbcced715815ff9e6a.jpg">
    </div>
    <div class="hero__col hero__col--3"></div>
  </section>

  <link rel="stylesheet" href="_sass/add/intro.scss">
  